/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: start;
}

#game-board {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(8, 40px);

    gap: 5px;
}

.tile {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #ccc;
    background-color: white;
    font-size: 1.8em;
    font-weight: 600;
    color: gray;
}

.tile.correct {
    background-color: green;
    color: white;
}

.tile.present {
    background-color: rgb(244, 244, 53);
}

.tile.absent {
    background-color: gray;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

#keyboard {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(11, 1fr);
    justify-content: center; /* Center the keyboard contents */
    margin-top: 20px;
}

.key {
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #ccc;
    background-color: white;
    font-size: 1em;
    color: grey;
}

.enter {
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #ccc;
    background-color: grey;
    font-size: 0.5em;
    color: black;
}

.key.correct {
    background-color: green;
    color: white;
}

.key.present {
    background-color: rgb(244, 244, 53);
}

.key.absent {
    background-color: gray;
    color: white;
}

.centered-paragraph {
    max-width: 400px; /* Adjust this value to your desired width */
    margin: 0 auto; /* Centers the element horizontally */
    text-align: left; /* Optional: centers the text inside the paragraph */
    color: grey;
}